.password-generator
    display: flex;
    flex-direction: column;
    align-items: center;
    &--title
        font-size: 4rem
        margin-bottom: 1rem
    &--field
        color: $c-secondary
        font-size: 3rem
        margin-bottom: 2rem
        outline: none
        padding: 1rem
        border: 2px dashed $c-secondary
        border-radius: 3px
        text-align: center
        max-width: 100%
    &--range
        width: 100%